@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css";
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
footer,
header,
aside,
img {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 16px;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
ol li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.keys-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
}
.keys__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  gap: 10px;
  padding: 15px;
  margin: auto;
  color: aliceblue;
  border: 2px solid #000;
  -webkit-box-shadow: 0 0 5px 1px #000;
          box-shadow: 0 0 5px 1px #000;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
}
.keys__item kbd {
  font-size: 30px;
  font-weight: bolder;
}
.sound {
  font-style: italic;
  font-size: 18px;
}
.play {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  color: #cfcf02;
  -webkit-box-shadow: 1px 1px 7px 2px #cfcf02;
          box-shadow: 1px 1px 7px 2px #cfcf02;
}
.btn {
  position: fixed;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: aliceblue;
  -webkit-box-shadow: 1px 1px 2px 1px #000;
          box-shadow: 1px 1px 2px 1px #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover {
  -webkit-box-shadow: inset 0 0 5px 1px #000;
          box-shadow: inset 0 0 5px 1px #000;
}
.btn .fa-play {
  font-size: 13px;
  vertical-align: middle;
  margin: 0 0 0 7px;
}
@media (max-width: 700px) {
  body {
    height: auto;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 150px 15px 0 !important;
  }

  .keys-wrap {
    height: 100%;
    padding-bottom: 20px;
  }

  .btn {
    position: absolute;
    top: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 300px;
    height: 80px;
  }
}
body {
  font-family: "Hubballi", cursive;
  font-weight: 400;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(bg.d0587060.jpg) repeat center/cover;
}
.container {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}
/*# sourceMappingURL=index.c63bad94.css.map */
