.keys-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.keys__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  gap: 10px;
  padding: 15px;
  color: aliceblue;
  border: 2px solid #000;
  box-shadow: 0 0 5px 1px #000;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
  cursor: pointer;
  & kbd {
    font-size: 30px;
    font-weight: bolder;
  }
}
.sound {
  font-style: italic;
  font-size: 18px;
}
.play {
  transform: translateY(10px);
  color: rgb(207, 207, 2);
  box-shadow: 1px 1px 7px 2px rgb(207, 207, 2);
}
