@import './reset.scss';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css';
@import './drum.scss';

body {
  font-family: 'Hubballi', cursive;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('../img/bg.jpg') no-repeat center / cover;
}

.container {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}
